section{
    width: 1200px;
    margin: 0 auto;
}

#header{
    padding: 50px;
}

#header div{
    display: inline-block;
}

#header .contato{
    float: right;
}

nav.menu{
    background-color: chartreuse;
    text-align: center;
} 

nav.menu ul li{
    display: inline-block;
    padding: 18px 90px;
    font-size: 17px;
}

nav.menu ul li a{
    color: #000;
}

a{
    text-decoration: none;
}

.banner img{
    width: 100%;
}

.marcas ul li{
    display: inline-block;
    font-size: 35px;
    width: 16%;
    padding: 50px;
}

div.item{
    display: inline-block;
    width: 20%;
}

img{
    width: 100%;
}

.item{
    font-size: 25px; 
    padding: 1.5%;  
}

.produtos, .depoimentos{
    margin-left: 40px;
    text-align: center;
    margin: 30px 0;
    margin-left: 250px;
}

.depoimentos{
    margin-left: 121px;
}

.titulo{
    font-size: 30px;
    font-weight: bold;
}

.subtitulo{
    font-size: 30px;
    font-weight: bold;
    color: dimgray;
    margin-bottom: 30px;
}

.sublinhado{
    width: 150px;
    background-color: chartreuse;
    height: 10px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

a:hover{
    transition: 0.3s;
    opacity: 0.8;
}

.depoimmentos .item{
    border: 1px solid #000;
    width: calc(30% - 2px);
}

.depoimentos{
    width: 100px;
    border-radius: 50px;
}

.depoimentos .clientes{
    margin-bottom: -80px;
    padding-top: 10px;
}

.depoimentos .clientes .nome{
    font-weight: bold;
}

footer {  
  padding: 2px;
}

footer p {
  font-size: 30px; 
  margin: 0;
}

.text-container{
  color: blue;
  margin-bottom: 10px;  
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: chartreuse;
}

footer .social{
    color: blue;
    font-size: 30px;
} 

.text-container {
  flex-basis: 50%;
  padding: 10px;
}

#whatsapp-button {
    display: inline-block;
    margin-top: 20px;
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  #whatsapp-button a {
    color: white;
    text-decoration: none;
  }

  .contato input{
    border: 2px solid green;
    height: 30px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    max-width: 250px;
  }

  .contato textarea {
    margin: 20px;
    width: 400px;
    height: 35px;
  }

  .contato button{
  background: transparent;
  color: #000;
  border: 2px solid #000;
  padding: 10px 40px;
  font-size: 15px;
  display: block;
  border-radius: 25px;
  }

.map-container {
  flex-basis: 25%;
}

.map {
  height: 450px; 
  margin: 10px;
}

.div-50 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.div-50.faleconosco{
    font-size: 17px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.content{
    font-size: 20px;
    line-height: 25px;
    padding: 50pxs;
}

.faleconosco input, .faleconosco select, .faleconosco textarea{
    background: #d2d2d2;
    width: 250;
    padding: 10px 2px;
}

input[type=radio]{
    width: 25px;
    float: left;
    margin: 5px 0;
}

.faleconosco ul li{
    display: inline-block;
    background-color: #d2d2d2;
    padding: 10px;
}

.campo{
    margin: 10px 0;
}

.faleconosco textarea{
    width: 500px;
}

.sobre p{
    text-align: justify;
    width: 95%;
    font-size: 30px;
}

.sobre h3{
    font-size: 30px;
}

.clear{
    clear: both;
}


.dropdown{
    display: none;
}

/*SCREEN 480PX*/
@media(max-width: 1300px){

    .dropdown {
        display: block;
        text-align: center;
        background-color: chartreuse;
    }
    .dropdown a {
        color: #000;
        line-height: 30px;
    }
    .dropdown img {
        margin-top: 20px;
    }
    .dropdown i {
        font-size: 35px;
    }
    .contato,
    #header {
        display: none !important;
    }
    .none,
    nav.menu,
    #logotipo {
        display: none;
    }
    section {
        width: 100%;
    }
    #header {
        padding: 20px;
    }
    .dropdown-content {
        display: none;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .marcas ul li {
        width: 25%;
    }
    div.item {
        display: inline-block;
        width: 87%;
    }
    .botao a {
        font-size: 14px;
    }    
    

}


@media (max-width: 767px ) and (min-width: 481px){
    .marcas{
        text-align: center;
    }
    .marcas ul li{
        width: 30%;
        text-align: center;
    } 
    .item{
        width: 30px;
    }
    footer .item{
        width: 60%;
    }
    section{
        width: calc(100%);
    }
    header section{
        width: 100%;
    }
    .div-50.faleconosco{
        width: 100%;
    }
    .faleconosco textarea{
        width: 100%;
        max-width: 500px;
    }
    .faleconosco{
        text-align: center;
    }
    .iframe{
        width: 100%;
        max-width: 600px;
    }
}


@media(max-width: 480px){
    .content{
        width: calc(100% - 40px);
        padding: 10px 0;
    }
    .sobre h3{
        text-align: center;
    }
    .div-50 {
        width: 100%;
    }
    .faleconosco textarea{
        width: 100%;
        max-width: 500px;
    }
    .faleconosco{
        text-align: center;
    }
    .iframe{
        width: 100%;
        max-width: 600px;
    }
}